.trigger{
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 210px;
  height: 36px;

  background: transparent;
  border: 1px solid var(--dark-300, #4C4C4C);
  border-radius: 2px;
}

.trigger:hover{
  background: var(--color-dark-500);
}

.trigger:focus{
  outline: 2px solid var(--color-info-700);
}

.wrapper{
  position: relative;
}

.wrapper.disabled .trigger{
  color: var(--color-dark-300);
}

.label{
  position: absolute;
  top: -24px;
  left: 0;
}

.option{
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 36px;
  padding-left: 12px;

  background: transparent;
}

.option:hover{
  color: var(--color-accent-300);
  background: var(--color-accent-900);
}

.content{
  width: 210px;
  margin-top: -1px;

  border: 1px solid var(--dark-300, #4C4C4C);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.icon.iconOpen{
  transform: rotate(-180deg);
}