.overlay {
  position: fixed;
  z-index: 100;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
}

.inner{
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  &.sm{
    width: 360px;
  }

  &.md{
    width: 420px;
  }

  &.lg{
    width: 540px;
  }

  &.open{
    animation: .5s openModal ease-out;
  }
}

.header{
  border-bottom: 1px solid var(--color-dark-500);

  & .headerInner{
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
  }
}

.contentInner{
  padding: 24px 24px 36px;
}

.buttonsContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  &.oneButton{
    justify-content: flex-end;
  }
}

.closeBtn{
  cursor: pointer;
  background: none;
  border: none;
}

@keyframes openModal {
  0%{
    transform: translateY(-100vh);
  }

  100%{
    transform: translateY(0);
  }
}