.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 384px;
  padding: 30px;
}

.title{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.textField{
  width: 100%;
  margin-bottom: 20px;
}

.caption{
  margin-bottom: 40px;
}